<footer class="bg-light-pink ph5 pv4">

	<div class="center pt3">

		<div class="flex-ns justify-between">

			<div>
				<ul class="mhn2">
					{{ partial "social-icon" (dict "link" "mailto:hello@superorg.ca" "svg" "icons-envelope") }}
					{{ partial "social-icon" (dict "link" "https://www.twitter.com/superorganism__" "svg" "icons-twitter") }}
					{{ partial "social-icon" (dict "link" "https://www.instagram.com/superorganism__/" "svg" "icons-instagram") }}
					{{ partial "social-icon" (dict "link" "https://www.linkedin.com/company/superorgca" "svg" "icons-linkedin") }}
					<a class="no-underline" href="https://superorg.substack.com/">Subscribe to our newsletter</a>
				</ul>
			</div>

		</div>
	</div>

</footer>

{{ partial "svg" . }}

<script src="/app.js"></script>
